@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf?t=1577597782929') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banbenqiehuan:before {
  content: "\e792";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-xihuan2:before {
  content: "\e632";
}

.icon-liebiaoxunhuan:before {
  content: "\e609";
}

.icon-xiazai:before {
  content: "\e60c";
}

.icon-suijibofang:before {
  content: "\e66b";
}

.icon-laba:before {
  content: "\e60d";
}

.icon-pengyou:before {
  content: "\e61a";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-zuojiantou:before {
  content: "\e642";
}

.icon-touxiang:before {
  content: "\e620";
}

.icon-bofang:before {
  content: "\e710";
}

.icon-shipin:before {
  content: "\e656";
}

.icon-kuoda:before {
  content: "\e62a";
}

.icon-itunes:before {
  content: "\f1d6";
}

.icon-jiahao:before {
  content: "\e602";
}

.icon-youjian:before {
  content: "\e68d";
}

.icon-pifu:before {
  content: "\e666";
}

.icon-shunxubofang:before {
  content: "\e603";
}

.icon-youjiantou:before {
  content: "\e643";
}

.icon-danseshixintubiao-:before {
  content: "\e631";
}

.icon-bofang1:before {
  content: "\e644";
}

.icon-fenxiang-:before {
  content: "\e61b";
}