* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

input,
button {
  background: transparent;
  outline: none;
  border: none;
}

input::placeholder {
  color: rgb(205, 205, 205);
  font-size: 16px;
}